    .film {
        display: flex;
        flex-direction: column;
        
        &__titleofFilm {
          margin-bottom: 1.2rem;
          margin-top: 0.5rem;
        }
      
        &__contentOfInfoforthefilm {
          display: flex;
        }
      
        &__openingCrawlforfilm {
          padding-right: 2.5rem;
          padding-bottom: 2.8rem;
        }
      
        &__linksofcharackterforfilm {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
      
        &__linkofcharackterforfilm {
          margin-right: 2rem;
        }
      
        &__linebetweenfilms {
          margin-bottom: 2rem;
        }
      }
  

