@import '../../styles/config';

.layout {
  &__header {
    margin-bottom: 1rem;
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__container {
    margin: auto;
  }

  &__link1 {
    display: inline-block;
    margin-right: 0.5rem;
   }

   &__link2 {
    display: inline-block;
   }


  &__listItem {
    &:first-child {
      margin-right: 1rem;
    }
  }
}